@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');

/*body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
*/

:root {
    --font-scale-n: 1;
    --font-scale-m: 1.1;
    --font-scale-l: 1.2;
    --font-scale-xl: 1.3;
    --font-scale-xxl: 1.4;

    --default-font-scale: var(--font-scale-m);

    --font-size68: calc(68px * var(--default-font-scale));
    --font-size40: calc(40px * var(--default-font-scale));
    --font-size32: calc(32px * var(--default-font-scale));
    --font-size28: calc(28px * var(--default-font-scale));
    --font-size24: calc(24px * var(--default-font-scale));
    --font-size20: calc(20px * var(--default-font-scale));
    --font-size16: calc(16px * var(--default-font-scale));
    --font-size14: calc(14px * var(--default-font-scale));
    --font-size12: calc(12px * var(--default-font-scale));
    --font-size10: calc(10px * var(--default-font-scale));

    --line-height92: calc(92px * var(--default-font-scale));
    --line-height52: calc(52px * var(--default-font-scale));
    --line-height40: calc(40px * var(--default-font-scale));
    --line-height36: calc(36px * var(--default-font-scale));
    --line-height32: calc(32px * var(--default-font-scale));
    --line-height26: calc(26px * var(--default-font-scale));
    --line-height22: calc(22px * var(--default-font-scale));
    --line-height20: calc(20px * var(--default-font-scale));
    --line-height16: calc(16px * var(--default-font-scale));
    --line-height14: calc(14px * var(--default-font-scale));
}

:root {
    --default-font-family: "Roboto";
    --color-blue: #0078D4;
    --color-blue-tint10: #0090FF;
    --color-blue-tint20: #55B5FF;
    --color-royal-blue: #004E8C;
    --color-teal: #038387;

    --default-background-color: #161616;
    --default-text-color: white;
    --link-color: var(--color-blue-tint20);
    --link-color-hover: var(--color-blue);
    
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 900;

    --typography-display-font-weight: var(--font-weight-semibold);
    --typography-display-font-size: var(--font-size68);
    --typography-display-line-height: var(--line-height92);

    --typography-large-title-font-weight: var(--font-weight-semibold);
    --typography-large-title-font-size: var(--font-size40);
    --typography-large-title-line-height: var(--line-height52);

    --typography-title1-font-weight: var(--font-weight-semibold);
    --typography-title1-font-size: var(--font-size32);
    --typography-title1-line-height: var(--line-height40);

    --typography-title2-font-weight: var(--font-weight-semibold);
    --typography-title2-font-size: var(--font-size28);
    --typography-title2-line-height: var(--line-height36);

    --typography-title3-font-weight: var(--font-weight-semibold);
    --typography-title3-font-size: var(--font-size24);
    --typography-title3-line-height: var(--line-height32);

    --typography-subtitle1-font-weight: var(--font-weight-semibold);
    --typography-subtitle1-font-size: var(--font-size20);
    --typography-subtitle1-line-height: var(--line-height26);

    --typography-subtitle2-stronger-font-weight: var(--font-weight-bold);
    --typography-subtitle2-stronger-font-size: var(--font-size16);
    --typography-subtitle2-stronger-line-height: var(--line-height22);

    --typography-subtitle2-font-weight: var(--font-weight-semibold);
    --typography-subtitle2-font-size: var(--font-size16);
    --typography-subtitle2-line-height: var(--line-height22);

    --typography-body1-stronger-font-weight: var(--font-weight-bold);
    --typography-body1-stronger-font-size: var(--font-size14);
    --typography-body1-stronger-line-height: var(--line-height20);

    --typography-body1-strong-font-weight: var(--font-weight-semibold);
    --typography-body1-strong-font-size: var(--font-size14);
    --typography-body1-strong-line-height: var(--line-height20);

    --typography-body1-font-weight: var(--font-weight-regular);
    --typography-body1-font-size: var(--font-size14);
    --typography-body1-line-height: var(--line-height20);

    --typography-caption1-stronger-font-weight: var(--font-weight-bold);
    --typography-caption1-stronger-font-size: var(--font-size12);
    --typography-caption1-stronger-line-height: var(--line-height16);

    --typography-caption1-strong-font-weight: var(--font-weight-semibold);
    --typography-caption1-strong-font-size: var(--font-size12);
    --typography-caption1-strong-line-height: var(--line-height16);

    --typography-caption1-font-weight: var(--font-weight-regular);
    --typography-caption1-font-size: var(--font-size12);
    --typography-caption1-line-height: var(--line-height16);

    --typography-caption2-strong-font-weight: var(--font-weight-semibold);
    --typography-caption2-strong-font-size: var(--font-size10);
    --typography-caption2-strong-line-height: var(--line-height14);

    --typography-caption2-font-weight: var(--font-weight-regular);
    --typography-caption2-font-size: var(--font-size10);
    --typography-caption2-line-height: var(--line-height14);
}

html, body {
    color-scheme: dark;
    background-color: var(--default-background-color);
    color: var(--default-text-color);
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--default-font-family);
}

.display {
    font-weight: var(--typography-display-font-weight);
    font-size: var(--typography-display-font-size);
    line-height: var(--typography-display-line-height);
}

.large-title {
    font-weight: var(--typography-large-title-font-weight);
    font-size: var(--typography-large-title-font-size);
    line-height: var(--typography-large-title-line-height);
}

.title1 {
    font-weight: var(--typography-title1-font-weight);
    font-size: var(--typography-title1-font-size);
    line-height: var(--typography-title1-line-height);
}

.title2 {
    font-weight: var(--typography-title2-font-weight);
    font-size: var(--typography-title2-font-size);
    line-height: var(--typography-title2-line-height);
}

.title3 {
    font-weight: var(--typography-title3-font-weight);
    font-size: var(--typography-title3-font-size);
    line-height: var(--typography-title3-line-height);
}

.subtitle1 {
    font-weight: var(--typography-subtitle1-font-weight);
    font-size: var(--typography-subtitle1-font-size);
    line-height: var(--typography-subtitle1-line-height);
}

.subtitle2-stronger {
    font-weight: var(--typography-subtitle2-stronger-font-weight);
    font-size: var(--typography-subtitle2-stronger-font-size);
    line-height: var(--typography-subtitle2-stronger-line-height);
}

.subtitle2 {
    font-weight: var(--typography-subtitle2-font-weight);
    font-size: var(--typography-subtitle2-font-size);
    line-height: var(--typography-subtitle2-line-height);
}

.body1-stronger {
    font-weight: var(--typography-body1-stronger-font-weight);
    font-size: var(--typography-body1-stronger-font-size);
    line-height: var(--typography-body1-stronger-line-height);
}

.body1-strong {
    font-weight: var(--typography-body1-strong-font-weight);
    font-size: var(--typography-body1-strong-font-size);
    line-height: var(--typography-body1-strong-line-height);
}

.body1, p, div, a {
    font-weight: var(--typography-body1-font-weight);
    font-size: var(--typography-body1-font-size);
    line-height: var(--typography-body1-line-height);
}

.caption1-strong {
    font-weight: var(--typography-caption1-strong-font-weight);
    font-size: var(--typography-caption1-strong-font-size);
    line-height: var(--typography-caption1-strong-line-height);
}

.caption1 {
    font-weight: var(--typography-caption1-font-weight);
    font-size: var(--typography-caption1-font-size);
    line-height: var(--typography-caption1-line-height);
}

.caption2-strong {
    font-weight: var(--typography-caption2-strong-font-weight);
    font-size: var(--typography-caption2-strong-font-size);
    line-height: var(--typography-caption2-strong-line-height);
}

.caption2 {
    font-weight: var(--typography-caption2-font-weight);
    font-size: var(--typography-caption2-font-size);
    line-height: var(--typography-caption2-line-height);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--default-font-family);
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a, a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

.site {
    margin: 8px;
}


@property --border-gradient-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0turn;
}

.border-spin {
    --outer-radius: 4px;
    --border-size: 1px;
    --inner-radius: calc(var(--outer-radius) - var(--border-size));
    --runtime: #73ED73;
    background-image: conic-gradient(from var(--border-gradient-angle) at 50% 50%, transparent, var(--runtime) 16%, transparent 20%);
    border-radius: var(--outer-radius);
    background-size: contain;
    padding: var(--border-size);
    animation: buttonBorderSpin 9s infinite linear;
    max-width: 100%;
}

@keyframes buttonBorderSpin {
    0% {
        --border-gradient-angle: 0turn;
    }

    100% {
        --border-gradient-angle: 1turn;
    }
}
